# JSON and XML - Lab

## Introduction

In this lab, you'll practice navigating JSON and XML data structures.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [3]:
import xml.etree.ElementTree as ET

### Create an XML tree and retrieve the root tag.

In [4]:
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot()

### How many direct descendents does the root tag have?

In [5]:
for x in root:
    print(x.tag, x.attrib)

row {}

In [6]:
ls

2001_Campaign_Contributions.csv*  LICENSE.md*                      README.md
CONTRIBUTING.md*                  nyc_2001_campaign_finance.json*
index.ipynb                       nyc_2001_campaign_finance.xml

### How many different types of tags are there within the entire XML file?

In [7]:

i = 0
for n, element in enumerate(root.iter('row')):
    i+=1
    
print(f"the total number of JSON tags is: {i}")

the total number of JSON tags is: 286

In [8]:
#THIS CODE AND THE COMMENTS ARE FROM
#I ADDED THE F-STRINGS
#https://stackoverflow.com/questions/29596584/getting-a-list-of-xml-tags-in-file-using-xml-etree-elementtree

elemList = []
for elem in root.iter():
    elemList.append(elem.tag) # indent this by tab, not two spaces as I did here

print(f"The total number of tags is {len(elemList)}\n")
# now I remove duplicities - by convertion to set and back to list
elemList = list(set(elemList))

print(f"The number of unique tags is {len(elemList)}\n")
# now I remove duplicities - by convertion to set and back to list
elemList = list(set(elemList))

# Just printing out the result
print(elemList)

The total number of tags is 3112

The number of unique tags is 13

['primarypay', 'runoffpay', 'officeboro', 'canclass', 'officedist', 'response', 'officecd', 'row', 'candid', 'election', 'totalpay', 'candname', 'generalpay']

In [9]:

print(286*2)

572

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [10]:
import pandas as pd

In [11]:
dfs = []
for n, element in enumerate(root.iter('row')):
    if n > 0:
        dfs.append(pd.DataFrame.from_dict(element.attrib, orient='index').transpose())
df = pd.concat(dfs)
print(len(df))
df.head()

285

,_id,_uuid,_position,_address
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,https://data.cityofnewyork.us/resource/_8dhd-z...
0,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,https://data.cityofnewyork.us/resource/_8dhd-z...
0,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,https://data.cityofnewyork.us/resource/_8dhd-z...
0,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,https://data.cityofnewyork.us/resource/_8dhd-z...
0,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,https://data.cityofnewyork.us/resource/_8dhd-z...

## JSON

### Open the same dataset from json

In [12]:
import json

In [13]:
f = open('nyc_2001_campaign_finance.json')
data = json.load(f)
print(type(data))

<class 'dict'>

### What is the root data type of the json file?

In [14]:
print(type(data))

<class 'dict'>

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [15]:
print(data.keys())

dict_keys(['meta', 'data'])

In [16]:
print(type(data['data']))

<class 'list'>

### Preview the first entry from the value returned by the 'data' key above.

In [17]:
data['data'][0]

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

In [18]:
len(data['data'][0])

19

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [19]:
data['meta']['view']['columns'][0]

{'id': -1,
 'name': 'sid',
 'dataTypeName': 'meta_data',
 'fieldName': ':sid',
 'position': 0,
 'renderTypeName': 'meta_data',
 'format': {},
 'flags': ['hidden']}

In [20]:
len(data['meta']['view']['columns'])

19


### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

SyntaxError: invalid syntax (<ipython-input-21-a306feddae25>, line 1)

In [22]:
metas = pd.DataFrame.from_dict(data['meta'])
column_names = list(map(lambda column: column['fieldName'], metas.view['columns']))
column_names

[':sid',
 ':id',
 ':position',
 ':created_at',
 ':created_meta',
 ':updated_at',
 ':updated_meta',
 ':meta',
 'election',
 'candid',
 'candname',
 'officecd',
 'officeboro',
 'officedist',
 'canclass',
 'primarypay',
 'generalpay',
 'runoffpay',
 'totalpay']

In [23]:
df = pd.DataFrame(data['data'])
df.columns = column_names
df.head()

,:sid,:id,:position,:created_at,:created_meta,:updated_at,:updated_meta,:meta,election,candid,candname,officecd,officeboro,officedist,canclass,primarypay,generalpay,runoffpay,totalpay
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
2,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
3,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
4,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00

In [28]:
data['meta']['view']['columns'][0]['fieldName']

':sid'

### What's wrong with the first row of the DataFrame?

In [24]:
data['meta']['columns']

KeyError: 'columns'

,:sid,:id,:position,:created_at,:created_meta,:updated_at,:updated_meta,:meta,election,candid,candname,officecd,officeboro,officedist,canclass,primarypay,generalpay,runoffpay,totalpay
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
2,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
3,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
4,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00

In [26]:
data['data'][0]

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

In [27]:
data['data'][1]

[2,
 '9D257416-581A-4C42-85CC-B6EAD9DED97F',
 2,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n}',
 '2001',
 'B4',
 'Aboulafia, Sandy',
 '5',
 None,
 '44',
 'P',
 '45410.00',
 '0',
 '0',
 '45410.00']

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!